<mat-card>
    <mat-card-content>
      <form (ngSubmit)="customSubmit()" >
        <h2>Sign In</h2>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="credentials.username"   name="email" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="credentials.password"   name="password" required>

        </mat-form-field>
        <button mat-raised-button color="primary" >Sign In</button>
        <button style="margin-left: 10px;"  type="reset" mat-raised-button color="accent" >Reset</button>
      </form>
    </mat-card-content>
  </mat-card>